* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  color: #444;
}

main {
  display: grid;
  grid-template-columns: 40rem 1fr 40rem;
  gap: 4.8rem;
}

.nav-icon-main {
  font-size: 4.8rem;
  fill: #22b8cf;
}

.nav-items {
  padding: 1.8rem 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.items-box {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.nav-icon {
  font-size: 4.8rem;
  fill: #444;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #444;
}

/* .nav-link:hover,
.nav-link:active {
  background-color: rgb(204, 204, 204);
  padding: 1.2rem 1.8rem;
  border-radius: 10rem;
  font-size: 1.8rem;
} */

.main-box {
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.title-main-box {
  display: flex;
  gap: 4.4rem;
  align-items: center;
  padding: 1.8rem 4.8rem;
}

.arrow-icon {
  font-size: 2.6rem;
  fill: #444;
}

.habib-main {
  font-size: 2.4rem;
}

.one-tweet {
  font-size: 1.8rem;
}

.cover-photo {
  background-color: rgb(216, 216, 216);
  height: 32rem;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
}

.cover-photo::after {
  content: "Edit profile";
  font-size: 2.8rem;
  font-weight: 600;
  color: #666;
  position: absolute;
  bottom: -7.5rem;
  right: 6rem;
  display: block;
  padding: 0.8rem 1.6rem;
  background-color: #f7f7f7;
  border-radius: 2px;
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.089);
  cursor: pointer;
}

.prof-photo {
  height: 20rem;
  width: 18rem;
  position: absolute;
  top: 30rem;
  left: 4rem;
  border-radius: 10rem;
}

.prof-name {
  position: absolute;
  top: 52rem;
  left: 4rem;
  font-size: 3.2rem;
}

.prof-username {
  position: absolute;
  top: 56rem;
  left: 4rem;
  font-size: 2.4rem;
  color: #888;
}

.prof-bio {
  position: absolute;
  top: 63rem;
  left: 4rem;
  font-size: 2.2rem;
  color: #777;
}

.feature-sections {
  display: flex;
  gap: 2.4rem;
  position: absolute;
  top: 68rem;
  left: 4rem;
}

.feature-section {
  display: flex;
  gap: 1rem;
}

.feature-section-icon {
  font-size: 2.4rem;
  color: #666;
}

.resident {
  font-size: 2.4rem;
  color: #777;
}
